section.class_titulo{
    background: rgb(122, 193, 226);

}






section.class_clientes{
    background: rgb(226, 122, 164);

}

section.class_producto{
    background: rgb(122, 226, 177);

}

section.class_contactenos{
    background: rgb(179, 226, 122);

}
